{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Last requests{% endblock title %}

{% block content %}
	<h3>Last requests</h3>
	<div class="requests">
		{% for req in requests %}
			{# <p>{{ forloop.counter}}. [{{ req.created|date:"Y-m-d H:i:s" }}] {{ req.method }}: {{ req.path }} {{ req.query }}</p> #}
			<p>{{ forloop.counter}}. {{ req }}</p>
			<input type="hidden" value="{{ req.id }}">
		{% endfor %}
	</div>

{% endblock %}
{% block footer %}
	<a href="{% url 'index' %}">index</a>
{% endblock %}
{% block scripts %}
	<script src='{% static "js/requests.js" %}'></script>
{% endblock %}
