{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Last requests{% endblock title %}

{% block content %}
<div class="well">
	<h3>Last requests</h3>
	<p>Order by:</p>
	<label class="radio-inline">
	  <input type="radio" name="order" id="inlineRadio1" value="created" checked> created
	</label>
	<label class="radio-inline">
	  <input type="radio" name="order" id="inlineRadio2" value="priority"> priority
	</label>
</div>
	<div class="requests">
		{% for req in requests %}
			<p data-object-id="{{ req.id }}">{{ forloop.counter}}. {{ req }}</p>
		{% endfor %}
	</div>

{% endblock %}
{% block footer %}
	<a href="{% url 'index' %}">index</a>
{% endblock %}
{% block scripts %}
{{ block.super }}
	<script src='{% static "js/requests.js" %}'></script>
{% endblock %}
