{% extends 'base.html' %}

{% block title %}Last requests{% endblock title %}

{% block content %}
	<h3>Last requests</h3>
	<div class="requests">
		<p>1. [April 14, 2016, 6:08 p.m.] GET: /requests/ </p>		
		<p>2. [April 14, 2016, 6:08 p.m.] GET: /edit/ </p>		
		<p>3. [April 14, 2016, 6:08 p.m.] GET: /requests/ </p>		
		<p>4. [April 14, 2016, 6:08 p.m.] GET: / </p>		
		<p>5. [April 14, 2016, 6:07 p.m.] GET: / </p>		
		<p>6. [April 14, 2016, 6:07 p.m.] GET: /requests/ </p>		
		<p>7. [April 14, 2016, 6:07 p.m.] GET: /requests/ </p>		
		<p>8. [April 14, 2016, 6:07 p.m.] GET: / </p>		
		<p>9. [April 14, 2016, 6:07 p.m.] GET: / </p>		
		<p>10. [April 14, 2016, 6:07 p.m.] GET: / </p>
	</div>
{% endblock %}
{% block footer %}
	<a href="{% url 'index' %}">index</a>
{% endblock %}